.head-color {
    background-color: transparent;
    color: transparent;
    text-align: center;
    text-shadow: 6px -6px rgba(255,0,0,.8),
                 -6px 6px rgba(0,255,255,.8);
}

h2 {
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    transform: rotate(-10deg);
}

.container {
    width: 100%;
}

.completed {
    color: red;
    text-decoration: red wavy line-through;
    font-style: oblique;
}

.css-dark {
    width: 200px;
    height: 20px;
    background-color: #000;
    border: none;
}


.task_desc {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 30px;

}

tr:hover {
    color: #000;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

tr {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}


.btn-completedTask {
    background-color: transparent;
}

/* .table-hover {
    color: #fff;
} */

.btn-light {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .task_desc {
        font-size: 20px;
        font-weight: 900;
    }
}
