body {
    padding-top: 350px;
}

.head-color {
    background-color: transparent;
    color: transparent;
    text-align: center;
    text-shadow: 6px -6px rgba(255,0,0,.8),
                 -6px 6px rgba(0,255,255,.8);
}

h2 {
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    transform: rotate(-10deg);
}

.completed {
    color: red;
    text-decoration: red wavy line-through;
    font-style: oblique;
}

.task_desc {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 30px;
}

.btn-completedTask {
    background-color: transparent;
}

/* .table-hover {
    color: #fff;
} */

.btn-light {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}